@font-face {
    font-family: "Raleway";
    src: url(../raleway/Raleway-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(../raleway/Raleway-SemiBold.ttf);
    font-style: normal;
    font-weight: bolder;
}

@font-face {
    font-family: "Raleway";
    src: url(../raleway/Raleway-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}